<header>
  
</header>
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "instagramhand.jpg" %>">
</section>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>

<footer>
  <p>Junstagram</p>
</footer>